<!-- Login Page -->
<form action="/" method="POST" class="d-flex flex-column align-items-center border border-dark rounded">

  <h2 class="mx-5 mt-4 pb-1">Account Login</h2>

  <input name="email" type="email" placeholder="Email" class="rounded my-3 p-2" value={{email}}>

  <input name="password" type="password" placeholder="Password" class="rounded my-3 p-2" required>

  <div>
    <input name="storeEmail" type="checkbox" {{#if storeEmail}}checked{{/if}}>
    <label for="storeEmail">記住我</label>
  </div>

  <div class="text-center p-0">
    {{#if errorMessage}}
    <code>{{errorMessage}}</code>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-outline-dark my-4 p-2 px-4 sing-in">Sign in</button>

</form>