<!-- welcome page -->
<div class="d-flex flex-column text-center">
  <h1><span class='text-info'> Welcome back ! </span> {{firstName}}</h1>
  <form method="POST" action="/">
    <button name="logout" value="on" type="submit" class="btn btn-outline-dark my-4 p-2 px-4 sing-in">Logout</button>
  </form>
</div>